BankMVC/BankMVC/Service References/BankService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://laberko.net" elementFormDefault="qualified" targetNamespace="http://laberko.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banknote100" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote1000" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote500" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote5000" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsIncome" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ATM">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountValue" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote100" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote1000" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote500" type="xs:int" />
      <xs:element minOccurs="0" name="Banknote5000" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATM" nillable="true" type="tns:ATM" />
</xs:schema>