BankMVC/BankMVC/Service References/BankService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24816/BankService/WcfService/?xsd=xsd2" namespace="http://laberko.net" />
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://laberko.net" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q1:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtmState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtmStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://laberko.net" minOccurs="0" name="GetAtmStateResult" nillable="true" type="q2:ATM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMoneyAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://laberko.net" minOccurs="0" name="transaction" nillable="true" type="q3:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMoneyAsyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="money" type="xs:int" />
        <xs:element minOccurs="0" name="confirmed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://laberko.net" minOccurs="0" name="GetMoneyResult" nillable="true" type="q4:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>