BankWPF/BankWPF/Service References/BankService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24816/BankService/WcfService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24816/BankService/WcfService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24816/BankService/WcfService/?xsd=xsd2" namespace="http://laberko.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetAtmState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtmState" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetAtmState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtmStateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_PutMoneyAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:PutMoneyAsync" />
  </wsdl:message>
  <wsdl:message name="IWcfService_PutMoneyAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutMoneyAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoney" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetTransactions" message="tns:IWcfService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetTransactionsResponse" message="tns:IWcfService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtmState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetAtmState" message="tns:IWcfService_GetAtmState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetAtmStateResponse" message="tns:IWcfService_GetAtmState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutMoneyAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/PutMoneyAsync" message="tns:IWcfService_PutMoneyAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/PutMoneyAsyncResponse" message="tns:IWcfService_PutMoneyAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetMoney" message="tns:IWcfService_GetMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetMoneyResponse" message="tns:IWcfService_GetMoney_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttp" type="tns:IWcfService">
    <wsp:PolicyReference URI="#basicHttp_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactions">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtmState">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetAtmState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMoneyAsync">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/PutMoneyAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoney">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="basicHttp" binding="tns:basicHttp">
      <soap12:address location="http://localhost:24816/BankService/WcfService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:24816/BankService/WcfService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>